.slide-enter, .slide-leave {
    transition: all 0.5s;
}
.slide-enter, .slide-before-leave {
    opacity: 1;
    transform: translate(0, 0);
}
.slide-before-enter, .slide-leave {
    opacity: 0;
    transform: translate(100px, 0);
}